* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.validation.prefs -text
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml -text
src/main/java/edu/uiowa/slis/GRIDRDF/Address/Address.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Address/AddressCityName.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Address/AddressCityNameIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Address/AddressCountryCode.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Address/AddressCountryCodeIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Address/AddressCountryName.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Address/AddressCountryNameIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Address/AddressHasAddressInverse.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Address/AddressHasAddressInverseIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Address/AddressHasAddressInverseType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Address/AddressHasGeonamesCity.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Address/AddressHasGeonamesCityIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Address/AddressHasGeonamesCityType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Address/AddressIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Address/AddressLabel.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Address/AddressSubjectURI.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Archive/Archive.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Archive/ArchiveEstablishedYear.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Archive/ArchiveEstablishedYearIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Archive/ArchiveHasAddress.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Archive/ArchiveHasAddressIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Archive/ArchiveHasAddressType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Archive/ArchiveHasChild.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Archive/ArchiveHasChildIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Archive/ArchiveHasChildType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Archive/ArchiveHasParent.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Archive/ArchiveHasParentIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Archive/ArchiveHasParentType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Archive/ArchiveHasRelated.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Archive/ArchiveHasRelatedInverse.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Archive/ArchiveHasRelatedInverseIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Archive/ArchiveHasRelatedInverseType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Archive/ArchiveHasRelatedIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Archive/ArchiveHasRelatedType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Archive/ArchiveId.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Archive/ArchiveIdIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Archive/ArchiveIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Archive/ArchiveLabel.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Archive/ArchiveSubjectURI.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Archive/ArchiveWikipediaPage.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Archive/ArchiveWikipediaPageIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Company/Company.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Company/CompanyEstablishedYear.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Company/CompanyEstablishedYearIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Company/CompanyHasAddress.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Company/CompanyHasAddressIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Company/CompanyHasAddressType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Company/CompanyHasChild.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Company/CompanyHasChildIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Company/CompanyHasChildType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Company/CompanyHasParent.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Company/CompanyHasParentIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Company/CompanyHasParentType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Company/CompanyHasRelated.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Company/CompanyHasRelatedInverse.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Company/CompanyHasRelatedInverseIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Company/CompanyHasRelatedInverseType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Company/CompanyHasRelatedIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Company/CompanyHasRelatedType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Company/CompanyId.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Company/CompanyIdIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Company/CompanyIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Company/CompanyLabel.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Company/CompanySubjectURI.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Company/CompanyWikipediaPage.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Company/CompanyWikipediaPageIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Education/Education.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Education/EducationEstablishedYear.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Education/EducationEstablishedYearIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Education/EducationHasAddress.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Education/EducationHasAddressIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Education/EducationHasAddressType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Education/EducationHasChild.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Education/EducationHasChildIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Education/EducationHasChildType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Education/EducationHasParent.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Education/EducationHasParentIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Education/EducationHasParentType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Education/EducationHasRelated.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Education/EducationHasRelatedInverse.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Education/EducationHasRelatedInverseIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Education/EducationHasRelatedInverseType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Education/EducationHasRelatedIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Education/EducationHasRelatedType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Education/EducationId.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Education/EducationIdIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Education/EducationIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Education/EducationLabel.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Education/EducationSubjectURI.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Education/EducationWikipediaPage.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Education/EducationWikipediaPageIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Facility/Facility.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Facility/FacilityEstablishedYear.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Facility/FacilityEstablishedYearIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Facility/FacilityHasAddress.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Facility/FacilityHasAddressIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Facility/FacilityHasAddressType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Facility/FacilityHasChild.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Facility/FacilityHasChildIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Facility/FacilityHasChildType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Facility/FacilityHasParent.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Facility/FacilityHasParentIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Facility/FacilityHasParentType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Facility/FacilityHasRelated.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Facility/FacilityHasRelatedInverse.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Facility/FacilityHasRelatedInverseIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Facility/FacilityHasRelatedInverseType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Facility/FacilityHasRelatedIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Facility/FacilityHasRelatedType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Facility/FacilityId.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Facility/FacilityIdIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Facility/FacilityIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Facility/FacilityLabel.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Facility/FacilitySubjectURI.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Facility/FacilityWikipediaPage.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Facility/FacilityWikipediaPageIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Government/Government.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Government/GovernmentEstablishedYear.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Government/GovernmentEstablishedYearIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Government/GovernmentHasAddress.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Government/GovernmentHasAddressIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Government/GovernmentHasAddressType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Government/GovernmentHasChild.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Government/GovernmentHasChildIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Government/GovernmentHasChildType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Government/GovernmentHasParent.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Government/GovernmentHasParentIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Government/GovernmentHasParentType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Government/GovernmentHasRelated.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Government/GovernmentHasRelatedInverse.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Government/GovernmentHasRelatedInverseIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Government/GovernmentHasRelatedInverseType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Government/GovernmentHasRelatedIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Government/GovernmentHasRelatedType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Government/GovernmentId.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Government/GovernmentIdIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Government/GovernmentIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Government/GovernmentLabel.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Government/GovernmentSubjectURI.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Government/GovernmentWikipediaPage.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Government/GovernmentWikipediaPageIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Healthcare/Healthcare.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Healthcare/HealthcareEstablishedYear.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Healthcare/HealthcareEstablishedYearIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Healthcare/HealthcareHasAddress.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Healthcare/HealthcareHasAddressIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Healthcare/HealthcareHasAddressType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Healthcare/HealthcareHasChild.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Healthcare/HealthcareHasChildIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Healthcare/HealthcareHasChildType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Healthcare/HealthcareHasParent.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Healthcare/HealthcareHasParentIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Healthcare/HealthcareHasParentType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Healthcare/HealthcareHasRelated.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Healthcare/HealthcareHasRelatedInverse.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Healthcare/HealthcareHasRelatedInverseIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Healthcare/HealthcareHasRelatedInverseType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Healthcare/HealthcareHasRelatedIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Healthcare/HealthcareHasRelatedType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Healthcare/HealthcareId.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Healthcare/HealthcareIdIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Healthcare/HealthcareIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Healthcare/HealthcareLabel.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Healthcare/HealthcareSubjectURI.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Healthcare/HealthcareWikipediaPage.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Healthcare/HealthcareWikipediaPageIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Nonprofit/Nonprofit.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Nonprofit/NonprofitEstablishedYear.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Nonprofit/NonprofitEstablishedYearIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Nonprofit/NonprofitHasAddress.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Nonprofit/NonprofitHasAddressIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Nonprofit/NonprofitHasAddressType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Nonprofit/NonprofitHasChild.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Nonprofit/NonprofitHasChildIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Nonprofit/NonprofitHasChildType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Nonprofit/NonprofitHasParent.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Nonprofit/NonprofitHasParentIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Nonprofit/NonprofitHasParentType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Nonprofit/NonprofitHasRelated.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Nonprofit/NonprofitHasRelatedInverse.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Nonprofit/NonprofitHasRelatedInverseIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Nonprofit/NonprofitHasRelatedInverseType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Nonprofit/NonprofitHasRelatedIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Nonprofit/NonprofitHasRelatedType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Nonprofit/NonprofitId.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Nonprofit/NonprofitIdIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Nonprofit/NonprofitIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Nonprofit/NonprofitLabel.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Nonprofit/NonprofitSubjectURI.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Nonprofit/NonprofitWikipediaPage.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Nonprofit/NonprofitWikipediaPageIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Other/Other.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Other/OtherEstablishedYear.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Other/OtherEstablishedYearIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Other/OtherHasAddress.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Other/OtherHasAddressIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Other/OtherHasAddressType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Other/OtherHasChild.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Other/OtherHasChildIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Other/OtherHasChildType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Other/OtherHasParent.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Other/OtherHasParentIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Other/OtherHasParentType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Other/OtherHasRelated.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Other/OtherHasRelatedInverse.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Other/OtherHasRelatedInverseIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Other/OtherHasRelatedInverseType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Other/OtherHasRelatedIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Other/OtherHasRelatedType.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Other/OtherId.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Other/OtherIdIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Other/OtherIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Other/OtherLabel.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Other/OtherSubjectURI.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Other/OtherWikipediaPage.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/Other/OtherWikipediaPageIterator.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/README.txt -text
src/main/java/edu/uiowa/slis/GRIDRDF/TagLibSupport.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/utility/SPARQL.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/utility/SPARQLObject.java -text
src/main/java/edu/uiowa/slis/GRIDRDF/utility/SPARQLPredicate.java -text
src/main/resources/META-INF/taglib.tld -text
src/non-packaged-resources/Model.clay -text
src/non-packaged-resources/grid-ontology-v1.rdf -text
src/non-packaged-resources/ontology.statistics -text
src/test/java/edu/uiowa/slis/GRIDRDF/README.txt -text
src/test/resources/README.txt -text
